<header class="header">
  <div class="container">
    <div class="logo">
      <a href="#">
        <p>Dry<span>ant</span></p>
        <p class="subtitle">Boilerplate</p>
      </a>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="#" class="active">Inicio</a></li>
        <li><a href="#">Acerca</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
    <button class="hamburger-menu">&#9776;</button>
  </div>
</header>
